* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-green: #09580C;
    --light-main-green: #26a02a;
    --opacity-light-main-green: #26a02a34;
    --dark-main-green: #063508;
    --opacity-dark-main-green: #06350833;
}
 
/* First nav break at 1000px */


/* Nav section */
.navbar {
    display: flex;
    height: 60px;
    background: black;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    margin: 0 25px;
    padding: 0 15px;
}

.header__logo {
    height: 100%;
    align-items: center;
    display:inline-block;
    -webkit-mask:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    mask:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    background:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    background-blend-mode:darken;
}

.header__logo::before {
    background-color: white;
    height: 60px;
    width: 250px;
    content:"";
    display:block;
}

.header_logo:hover::before {
    background-color: var(--main-green);
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 300px;
    justify-content: space-between;
}

.navbar__menu a {
    height: 34px;
}

.nav__btn {
    position: relative;
    height: 100%;
    width: 80px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--light-main-green);
    background-image: linear-gradient(var(--main-green), var(--dark-main-green));
}

.nav__btn::after {
    content: "";
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 50%;
    background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.025))
}

.nav__btn:hover {
    background-image: linear-gradient(var(--light-main-green), var(--main-green));
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.navbar__links:hover {
    color: var(--light-main-green);
    transition:  all 0.3s ease;
}

@media screen and (max-width: 700px) {
    .navbar__menu {
        display: none;
    }
}

/* Slideshow section */
#slideshow {
    display: flex;
    padding-top: 120px;
    justify-content: center;
    background-color: #131313;
    animation: 7s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

#slideshow__container {
    width: 960px;
    overflow: hidden;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 12px black);
    transition: 1s ease;
}

#slideshow__container:hover {
    filter: drop-shadow(0px 0px 12px var(--main-green));
}

#slideshow figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 18s slider infinite;
}

.slideshow__banner {
    position: relative;
    width: 25%;
    float: left;
}

.slideshow__banner img {
    width: 100%;
}

.slideshow__info{
    background-image: rgba(0, 0, 0, 0.6);
    color: white;
}

@keyframes slider {
    0% {
        left: 0;
    }
    31% {
        left: 0%;
    }
    34% {
        left: -100%;
    }
    64% {
        left: -100%;
    }
    67% {
        left: -200%;
    }
    97% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

/* Card section */
.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    background: #131313;
}

.card__container a {
    text-decoration: none;
    filter: drop-shadow(0px 0px 12px black);
    transition: .6s ease;
}

.card__container a:hover {
    transform: scale(115%);
    z-index: 2;
    filter: drop-shadow(0px 0px 12px var(--main-green));
}

.card__container h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 300px;
    margin: 100px 0px 25px;
}

.card__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    row-gap: 25px;
}

#other__media .card {
    height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 300px;
    background: white;
    border-radius: 4px;
}

.card__images {
    border-bottom: 2px solid black;
}

.card h2 {
    text-align: center;
    color: black;
    margin-top: 8px;
}

.card p {
    height: 60px;
    text-align: center;
    padding: 12px 5px;
    font-weight: 300;
    color: black;
}

.android__logo {
    margin: auto;
}

/* Footer Section */
.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background: black;
    width: 100%;
}

.top__container {
    display: flex;
    width: 400px;
}

.top__wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 10px 10px 0;
} 

.top__wrapper p {
    margin: 5px 0;
}

.social__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 5px 10%;
    width: 100%;
}

.social__icons a {
    color: var(--main-green);
}