* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
 
/* First nav break at 1000px */


/* Nav section */
.navbar {
    display: flex;
    height: 60px;
    background: black;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    top: 0;
    position: sticky;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    margin: 0 25px;
    padding: 0 15px;
}

.header__logo {
    height: 60px;
    width: 250px;
    align-items: center;
    cursor: pointer;
    display:inline-block;
    -webkit-mask:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    mask:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    background:url(Images/gnostic-studios-text-transparent.png) center/contain no-repeat;
    background-blend-mode:darken;
}

.header__logo::before {
    background-color: hotpink;
    height: 60px;
    width: 250px;
    content:"";
    display:block;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 450px;
    justify-content: space-between;
}

.navbar__item {
    height: 60px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.navbar__links:hover {
    color: hotpink;
    transition:  all 0.3s ease;
}

@media screen and (max-width: 999px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height:  60px;
        z-index: 1;
        width: 100%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position:  absolute;
        top: -1000px;
        opacity: 1;
        z-index: -1;
        transition:  all 0.5 ease;
    }    

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }  
}

/* Slideshow section */
#slideshow {
    display: flex;
    justify-content: center;
    background-color: #131313;
    animation: 7s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

#slideshow__container {
    width: 960px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 12px rgba(192, 16, 104, 0.1));
    transition: 0.5s ease;
}

#slideshow__container:hover {
    filter: drop-shadow(0px 0px 12px rgba(192, 16, 104, 0.611));
    transition: 1s ease;
}

#slideshow figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 18s slider infinite;
}

#slideshow figure img {
    width: 25%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    31% {
        left: 0%;
    }
    34% {
        left: -100%;
    }
    64% {
        left: -100%;
    }
    67% {
        left: -200%;
    }
    97% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

/* Card section */
.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    background: #131313;
}

.card__container h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    background: hsla(0, 0%, 96%, 0.75);
    background: linear-gradient(90deg, transparent 0%, #353535 50%,  transparent 100%);
    width: 300px;
    margin: 25px 0;
}

.card__group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

#other__media {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#other__media .card {
    height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 300px;
    background: rgb(87,11,97);
    background: linear-gradient(146deg, rgba(87,11,97,1) 0%, rgba(121,9,115,1) 50%, rgba(85,8,46,1) 100%);
    border-radius: 4px;
    filter: drop-shadow(5px 5px 10px);
}

.card__images {
    padding: 15px 0;
}

.card h2 {
    text-align: center;
    color: hotpink;
    background-color:black;
}

.card p {
    height: 60px;
    text-align: center;
    padding: 2px 5px;
    background-color: rgba(112, 128, 144, 0.486);
}

.android__logo {
    margin: auto;
}

/* Footer Section */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    justify-content: center;
}

.top__container {
    display:flex;
    justify-content: center;
    width: 100%;
}

.top__wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 20px 50px;
} 
.top__wrapper p,
.top__wrapper h1 {
    text-align: center;
}

.top__wrapper p {
    margin: 10px 0 15px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 400px;
}

.btm__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

